NEXT_PUBLIC_SERVER_URL=http://localhost/biblioteca

PAYLOAD_SECRET=your_payload_secret
PAYLOAD_PUBLIC_SERVER_URL=http://localhost/biblioteca

DATABASE_URL=postgres://your_db_user:1234@bibliotecadb:5432/your_db_name
DATABASE_URI=postgres://your_db_user:1234@bibliotecadb:5432/your_db_name

POSTGRES_USER=your_db_user
POSTGRES_PASSWORD=1234
DATABASE_PASSWORD=1234
POSTGRES_DB=your_db_name

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email
SMTP_PASS=smtp_pass

NODE_ENV: development